*{
    background: #000000;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #000000;
}

.logo-nav{
    height: 50px;
}


.cabecera{
    background: #000000;
    padding: 20px;
   
}

.logo{
    background: #000000;
    width: 100%;
    margin-top: 80px;
}



.redes{
    margin-top: 20px;
    width: 100%;
    
}


.carrusel{
    background: #000000;
}

.carousel-inner{
   border-radius: 30px;
   background: #000000;
   margin: 5px 5px 5px;
}

.categoria{
    padding: 0;
    margin: 10px;
    border-radius: 20px;
    width: 100%; 
    border: #a67d4c solid 3px;
}

.categoria:hover{
    border: turquoise solid;
   
}

.sedes{
    width: 100%;
}

