*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.logo{
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
   
}