*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}

.logo{
    width: 100%;
    margin-top: 50px;
}

